@font-face {
    font-family: Less;
    src: url('/fonts/less.otf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("/fonts/static/Quicksand-Medium.ttf");
    font-style: normal;
}

* {
    font-family: Quicksand;
}

html,
body {
    min-height: 100%;
}

#colDerechaPrincipal {
    margin: auto 0;
    text-align: center;
    margin-right: 50px;
}

#colDerechaPrincipal h1 {
    color: black;
    font-size: 70px;
    font-style: normal;
    text-shadow: 0px 0px 3px black;
}

#colDerechaPrincipal p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: none;
    padding: 1.5em 0em;
    width: 40em;
}

#colDerechaPrincipal span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0px 0px 60px rgb(135, 194, 234);
    /* Clip Background Image */
    background: url("/img/animated-text-fill2.png") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

#parrafoInicio {
    margin-top: -80px;
}

#colIzquierdaPrincipal {
    text-align: center;
}

#colIzquierdaPrincipal img {
    box-shadow: 0px 0px 30px rgb(135, 194, 234);
    border-radius: 500px;
}

#contenidoFooter {
    color: white;
    text-align: center;
}

#carousel {
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    height: 830px;
    overflow: hidden;
}

#tablaPrincipal {
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 8px;
    box-shadow: 0px 0px 10px white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.botonPanel {
    background-color: rgb(135, 194, 234);
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgb(120, 171, 206);
    margin-bottom: -25px;
}

#botonVacuna {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#botonContagio {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#botonVacuna:hover {
    background-color: rgb(120, 171, 206);
    transition: .3s ease all;
    transform: scale(1.02, 1.02);
    box-shadow: 0px 0px 10px rgb(120, 171, 206);
}

#botonContagio:hover {
    background-color: rgb(120, 171, 206);
    transition: .3s ease all;
    transform: scale(1.02, 1.02);
    box-shadow: 0px 0px 10px rgb(120, 171, 206);
}

.ancho {
    padding-top: 56px;
    padding-bottom: 56px;
}

#navBar {
    background-color: rgb(135, 194, 234);
}

#navBar h5 {
    padding-top: 10px;
    font-family: Less;
}

#tablaPrincipalVacunacion {
    background-color: rgba(135, 194, 234, 0.904);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(135, 194, 234);
    padding-top: 20px;
    padding-bottom: 20px;
}

.encabezado {
    position: relative;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px 0px white;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 73px;
}

.cajaRegistro {
    background-color: rgba(135, 194, 234, 0.904);
    width: 40%;
    height: 400px;
    margin-top: 110px;
    margin-bottom: 60px;
    border: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 5%;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
}

.cajaRegistro h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.formRegistro {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.formRegistro input {
    width: 50%;
    margin-right: 2%;
}

.logoRegistro {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.logoRegistro img {
    border: solid;
    border-radius: 1000%;
    border-color: white;
    border-width: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
}

.containerRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaRegistro h6 {
    display: flex;
    justify-content: end;
    margin-top: 65px;
    margin-right: 5px;
}

#backgroundRegistro {
    background: linear-gradient(45deg, rgb(90, 90, 255), rgb(252, 194, 87));
    background-size: 400% 400%;
    position: relative;
    animation: colores 5s ease-in-out infinite;
}

.card {
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px white;
}

.card:hover {
    transform: scale(1.05, 1.05);
    transition: .3s ease-in-out;
}

.contenedorCards {
    display: flex;
    justify-content: center;
}

#botonBorrar {
    position: absolute;
    left: 240px;
}

#btnModificar {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 97%;
    top: 28%;
}

#btnModificar img {
    position: absolute;
    top: 3px;
    left: 6px;
}

#btnBorrar {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 94%;
    top: 28%;
}

#btnBorrar img {
    position: absolute;
    top: 3px;
    left: 6px;
}

#divBuscarCedula {
    width: auto;
}

.circle {
    background-color: red;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border-color: black;
    border: solid;
    border-width: 2px;
}

.circle2 {
    background-color: green;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border-color: black;
    border: solid;
    border-width: 2px;
}

#divAltoRiesto {
    position: absolute;
    top: 90px;
    left: 86%;
}

#altoRiesgo {
    width: 170px;
}

#divCircle {
    margin-left: -20px;
    margin-top: -2px;
    width: auto;
}

.divBotones {
    display: flex;
    justify-content: end;
    align-items: end;
}

.divBotones button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#contenidoCentro {
    border: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
    border-color: white;
}

#contenidoPersonal {
    border: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
    border-color: white;
}

.botonesDeControl button {
    width: 40px;
    height: 40px;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px black;
    margin-left: 2px;
    margin-right: 2px;
}

.botonesDeControl button:hover {
    transform: scale(1.05, 1.05);
    transition: .1s ease-in-out all;
    box-shadow: 0px 0px 6px black;
}

#btnAñadirPersonal {
    background-color: rgb(247, 133, 133);
    border-color: rgb(177, 30, 30);
}

#btnAñadirCentro {
    background-color: rgb(117, 202, 117);
    border-color: rgb(32, 143, 32);
}

#btnAñadirCentro {}

@keyframes colores {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}