<!-- NAVEGATION BAR -->
    <div id="navBar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h5>MEDICLAB</h5>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/links/verificarRegistro">Registrar vacunación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Registrar contagio y tratamiento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

{{!-- CONTENIDO --}}

    <div class="container-fluid" id="backgroundRegistro">
        <div class="container" id="backgroundContenido">
            <div class="row" id="contenidoCentro">
                <div class="col-4 pt-3" style="background-color: rgb(135, 194, 234)">
                    {{!-- <input type="number" class="form-control" placeholder="Codigo de Centro de Salud" min="0" style="width: 300px;" id="buscarCodigo"> --}}
                    <select class="form-select" name="buscarCodigo" id="buscarCodigo">
                        <option value="" selected disabled>Elegir Centro de Salud...</option>
                        {{#each Query}}
                            <option value="{{codcentro}}">{{codcentro}}</option>
                        {{/each}}
                    </select>
                    <button class="btn btn-primary mt-2" id="botonBuscar" onclick="buscarCentro();"  type="submit">Buscar</button>
                </div>
                <div class="col py-2" style="background-color: rgb(196, 229, 252);">
                    <div>
                        <h1>Control de Centro de Salud</h1>
                    </div>
                    {{!-- {{#if Query}} --}}
                        <div class="col-7">
                            <label for="inputNombreC">Nombre de Centro de Salud</label>
                            <input type="text" name="inputNombreC" id="inputNombreC" class="form-control" placeholder="Nombre de Centro de Salud" disabled>     
                        </div>
                        <div class="pt-2 col-7">
                            <label for="inputDireccionC">Dirección de Centro de Salud</label>
                            <input type="text" name="direccioncentro" id="inputDireccionC" class="form-control" placeholder="Dirección de Centro de Salud" disabled>
                        </div>
                        <div class="pt-2 col-7">
                            <label for="inputPais">Pais del Centro de Salud</label>
                            <select name="pais" id="inputPais" onchange="elegirEstado();" class="form-select" disabled>
                                <option value="0" selected disabled>Pais...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7" id="divEstado">
                            <label for="inputEstado" id="ellabel" >Estado/Provincia del Centro de Salud</label>
                            <select name="estado" id="inputEstado" class="form-select" disabled>
                                <option value="0" selected disabled>Estado...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7">
                            <label for="medico">Médico Encargado del Centro de Salud</label>
                            <select class="form-select" name="medico" id="medico" onchange="editarfechaEncargado()" disabled>
                                <option value="0" disabled selected>Medico encargado...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7">
                            <label for="fechaEncargado">Fecha de asignación</label>
                            <input type="date" class="form-control" id="fechaEncargado" readonly>
                        </div>
                        <div class="pt-2 col-7">
                            <label for="tipoCentro">Tipo de Centro de Salud</label>
                            <select class="form-select" name="tipoCentro" id="tipoCentro" disabled>
                                <option value="0" disabled selected>Tipo de centro...</option>
                                <option value="Hospitalizacion" >Hospitalizacion</option>
                                <option value="Vacunacion" >Vacunacion</option>
                            </select>
                        </div>
                        <div class="divBotones">
                            <button class="btn btn-success" id="botonanadir" onclick="habilitaranadirCentro();" type="submit">Añadir</button>
                            <button class="btn btn-danger"  id="botonborrar" onclick="borraCentro();" type="submit" disabled>Borrar</button>
                            <button class="btn btn-warning" id="botoneditar" onclick="editarCentro();" type="submit"disabled>Editar</button>
                            <button class="btn btn-primary" id="botonguardar" type="submit" onclick="GuardarEditarCentro()" disabled>Guardar</button>
                        </div>
                    {{!-- {{else}} --}}
                        {{!-- <div class="col-7">
                            <input type="text" class="form-control" placeholder="Nombre de Centro de Salud">    
                        </div>
                        <div class="pt-2 col-7">
                            <input type="text" class="form-control" placeholder="Dirección de Centro de Salud">
                        </div>
                        <div class="pt-2 col-7">
                            <select name="pais" id="inputPais" onchange="elegirEstado();" class="form-select">
                                <option value="0" selected disabled>Pais...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7">
                            <select name="estado" id="inputEstado" class="form-select">
                                <option value="0" selected disabled>Estado...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7">
                            <select class="form-select" name="medico" id="medico">
                                <option value="0" disabled selected>Medico encargado...</option>
                            </select>
                        </div>
                        <div class="pt-2 col-7">
                            <label for="fechaEncargado">Fecha de asignación</label>
                            <input type="date" class="form-control" id="fechaEncargado">
                        </div>
                        <div class="pt-2 col-7">
                            <select class="form-select" name="tipoCentro" id="tipoCentro">
                                <option value="0" disabled selected>Tipo de centro...</option>
                                <option value="H" >Hospitalizacion</option>
                                <option value="V" >Vacunacion</option>
                            </select>
                        </div>
                        <div class="divBotones">
                            <button class="btn btn-success" type="submit">Añadir</button>
                            <button class="btn btn-danger" type="submit" disabled>Borrar</button>
                            <button class="btn btn-warning" type="submit"disabled>Editar</button>
                        </div> --}}
                    {{!-- {{/if}} --}}
                </div>
            </div>
        </div>
    </div>



{{!-- FOOTER --}}
    <div style="background-color: rgb(135, 194, 234);">
        <footer>
            <div id="footer" class="row-auto py-3">
                <div class="col" id="contenidoFooter">
                    <h6>© 2022 De Gouveia - Garofalo</h6>
                </div>
            </div>
        </footer>
    </div>


    <style>
    @media (max-width: 1920px) {
        #backgroundRegistro{
            min-height: 815px;
        }
        #footer{
            margin-top: -1px;
        }
        #backgroundRegistro{
            padding-top: 110px;
        }
    }

    @media (max-width: 1600px){
        #backgroundRegistro{
            min-height: 599px;
        }
        #backgroundContenido{
            padding-bottom: 10px;
        }
        #backgroundRegistro{
            padding-top: 10px;
        }
    }
    </style>