<!-- NAVEGATION BAR -->
    <div id="navBar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h5>MEDICLAB</h5>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/links/verificarRegistro">Registrar vacunación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Registrar contagio y tratamiento</a>
                        </li>
                    </ul>
                    <div class="botonesDeControl">
                        <a href="/links/controlPersonalSalud"><button id="btnAñadirPersonal"><img src="/img/anadirPersonal.png" width="25px"></button></a>
                        <a href="/links/controlCentroSalud"><button id="btnAñadirCentro"><img src="/img/añadirCentro.png" width="25px"></button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

{{!-- CONTENIDO --}}

    <div class="container-fluid" id="backgroundRegistro">
        <div class="container backgroundInput" id="backgroundContenido">
            <div class="row" id="contenidoPersonal">
                <div class="col-4 pt-3" style="background-color: rgb(135, 194, 234)">
                    <div class="input-group col-1">
                        <span>
                            <select name="buscarTipoCedula" id="buscarTipoCedula" class="form-select">
                                <option selected value="0" disabled>X</option>
                                {{#each Query}}
                                <option value="{{docidentidad}}">{{docidentidad}}</option>
                                {{/each}}
                            </select>
                        </span>
                    </div>
                    <button class="btn btn-primary mt-2" id="botonbuscar" onclick="buscarPersonalSalud();" type="submit">Buscar</button>
                </div>
                <div class="col py-2" style="background-color: rgb(196, 229, 252);" id="inputContenido">
                    <div>
                        <h1>Control de Personal de Salud</h1>
                    </div>
                    <div class="col-7">
                        <label for="">Cédula del Personal de Salud</label>
                        <div class="input-group">
                            <span>
                                <select name="buscarCedula" id="buscarTipoCedulita" class="form-select"disabled>
                                    <option selected value="0" selected disabled>X</option>
                                    <option value="V" >V</option>
                                    <option value="E" >E</option>
                                </select>
                            </span>
                            <input type="text" name="buscarCedula" id="cedula" class="form-control" placeholder="Cédula del Personal de Salud"disabled> 
                        </div>   
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Nombre del Personal de Salud</label>
                        <input type="text" id="nombrePer" class="form-control" placeholder="Nombre del Personal de Salud"disabled>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Apellido del Personal de Salud</label>
                        <input type="text" id="apellidoPer" class="form-control" placeholder="Apellido del Personal de Salud"disabled>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="fechaNav">Fecha de Nacimiento</label>
                        <input type="date" id="fechaNac" class="form-control"disabled>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Género del Personal de Salud</label>
                        <select class="form-select" name="genero" id="genero" disabled>
                            <option value="0" selected disabled>Género...</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="N/A">N/A</option>
                        </select>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Pais del Personal de Salud</label>
                        <select class="form-select" name="pais" id="inputPais" onchange="elegirEstado();" disabled >
                            <option value="0" selected disabled>Pais...</option>
                        </select>
                    </div>
                    <div class="pt-2 col-7"  style="display:none ;" id="divEstado" >
                        <label for="">Estado/Provincia del Personal de Salud</label>
                        <select class="form-select" name="estado" id="inputEstado" onchange="elegirMunicipio_Centro();" disabled>
                            <option value="0" selected disabled>Estado...</option>
                        </select>
                    </div>
                    <div class="pt-2 col-7"  style="display:none ;" id="divMunicipio" >
                        <label for="">Municipio del Personal de Salud</label>
                        <select class="form-select" name="municipo" onchange="pintameCentros();" id="inputMunicipio"disabled>
                            <option value="0" selected disabled>Municipio...</option>
                        </select>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Tipo del Personal de Salud</label>
                        <select class="form-select" name="tipoPersonal" id="tipoPersonal"disabled>
                            <option value="0" selected disabled>Tipo de Personal de Salud...</option>
                            <option value="Medico">Médico</option>
                            <option value="Enfermero">Enfermero</option>
                            <option value="Asistente medico">Asistente médico</option>
                        </select>
                    </div>
                    <div class="pt-2 col-7">
                        <label for="">Centro de Salud asignado</label>
                        <select class="form-select" name="tipoCentro" onchange="fechaAsignado()" id="tipoCentro"disabled>
                            <option value="0" selected disabled>Centro de Salud...</option>
                        </select> 
                    </div>
                    <div class="pt-2 col-7">
                        <label for="fechaAsig">Fecha de Asignacion</label>
                        <input type="date" id="fechaAsig" class="form-control"readonly>
                    </div>
                    <div class="divBotones">
                        <button class="btn btn-success" id="botonanadir" onclick="habilitaranadirPersonal();" type="submit">Añadir</button>
                        <button class="btn btn-danger" id="botonborrar" onclick="borraPS()" type="submit" disabled>Borrar</button>
                        <button class="btn btn-warning" id="botoneditar" type="submit" disabled>Editar</button>
                        <button class="btn btn-primary" id="botonGuardar" type="submit" disabled>Guardar</button>
                        <button class="btn btn-primary" id="botonGuardar2" onclick="GuardarAnadirPS();" type="submit" style="display: none;" disabled>Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{!-- FOOTER --}}
    <div style="background-color: rgb(135, 194, 234);">
        <footer>
            <div id="footer" class="row-auto py-3">
                <div class="col" id="contenidoFooter">
                    <h6>© 2022 De Gouveia - Garofalo</h6>
                </div>
            </div>
        </footer>
    </div>


    <style>
    @media (max-width: 1920px) {
        #backgroundRegistro{
            min-height: 815px;
        }
        .backgroundInput{
            padding-bottom: 20px;
        }
        #backgroundRegistro{
            padding-top: 20px;
        }
    }

    @media (max-width: 1600px){
        #backgroundRegistro{
            min-height: 599px;
        }
        .backgroundInput{
            padding-bottom: 15px;
        }
        #backgroundRegistro{
            padding-top: 10px;
        }
    }
    </style>