







{{!-- TRATAMIENTO---------------------------------}}
            <div id="fondoTratamiento">
                <div class="tituloContagio">
                    <div id="imagenContagio">
                        <img src="/img/tratamiento.png" width="150px">
                    </div>
                    <div class="textoContagio">
                        <h2>Registrar Tratamiento</h2>
                    </div>
                </div>
                {{!-- INPUTS--------------------}}
                <div class="container">
                    <form action="" class="row">
                        <div class="col-md-6 pt-2">
                            <label for="inputCedula" class="form-label">Cédula</label>
                        <div class="input-group">
                            <span>
                                <select name="tipoCedula" id="tipoCedula" class="form-select">
                                    <option value="" selected disabled>X</option>
                                    <option value="">V</option>
                                    <option value="">E</option>
                                </select>
                            </span>
                            <input type="text" class="form-control" id="inputCedula" placeholder="Ej: 00000000"> 
                        </div>
                        </div>
                    </form>
                </div>
            </div>