 <!-- NAVBAR -->
    <div id="navBar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h5>MEDICLAB</h5>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" disabled>
                            <a class="nav-link active" aria-current="page" href="/links/verificarRegistro">Registrar vacunación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Registrar contagio y tratamiento</a>
                        </li>
                    </ul>
                    <div class="flexbox" role="search">
                        <h1>Buscar Cédula</h1>
                        <div class="search">
                            <div>
                                <input type="text" placeholder="X-0000000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>